<%= render partial: 'partials/user_card', locals: { user: @user } %>
<% if current_user == @user %>
  <%= link_to "New Post", "/posts/new" %>
<% end %>
<% Post.includes(:user).where("author_id = #{@user.id}").references(:user).each do |post| %>
  <div class='post-ctr'>
    <%= render partial: 'partials/post', locals: { post: post, short: true } %>
    <% if Comment.includes(:post).where("post_id = #{post.id}").references(:post).count > 0 %>
      <div class='comments'>
        <% post.recent_comments.each do |comment| %>
          <%= render partial: 'partials/comment', locals: { comment: comment } %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>